.about{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.sel .icon-box{
    background-color: #f8f9fa;
}
.dell{
    background-color:rgba(228, 225, 225, 0.769);
}
.dell img{
    max-width: 45%;
    transition: all 0.4s ease-in-out;

    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
    transition: all 4s;

}
.dell:hover .img-fluid
.dell:focus .img-fluid
{
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);

}
.dell-container{
    background: ;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.ones {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}

.two{
    width: 100%;
    display:block;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.foot{
    background-color: gray;
}
.dark{
    background-color: rgba(41, 41, 109, 0.395);
}
.six a{
    text-decoration: none;
    color: #f8f9fa;
   font-size: 12px;
}
.search {
    font-size: 12px;
}
.open{
    font-size: 12px;
}
.ten a{
    text-decoration: none;
}

.five {

}
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
  }
  
  .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
  }
  
  .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  @media (max-width: 450px) {
    .gallery {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width: 100%;
      -moz-column-width: 100%;
      column-width: 100%;
    }
  }
  
  @media (max-width: 400px) {
    .btn.filter {
      padding-left: 1.1rem;
      padding-right: 1.1rem;
    }
  }